{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet"> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link button" href="/home">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link button" href="/about">About<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link button" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
    </nav>
    <div class="jumbotron" style="height: 25em;width: 85em; margin-top: 8em;" >
        <p class="h2 topickiri">EDUCATION</p>
        <br>
        <p class="lead">I am currently taking Computer Science Bachelor program in Universitas Indonesia.</p>
        <p class="lead">Current GPA : 3.__</p>
        <p class="lead">Currently taking Foundation of Programming 2 using Java, Introduction to Digital Systems, Discrete Mathematics 2, Calculus 1, and Website Design and Programming.</p>
        <p class="lead">Interested in Machine Learning, Artificial Intelligence and Data Science.</p>
        <img id="fotoUI"src = "{% static "img/UI.png" %}" width="130em" height="130em">
    </div>
    <div class="jumbotron" style="height: 25em;width: 85em; margin-top: 8em;" >
        <p class="h2 topickanan">ACHIEVEMENT</p>
        <br>
        <br>
        <p>Update soon lol. </p>
        </div>
    <br>
    <br>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>